<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ base_title }}</title>
    {# link any .css or .js files here from app static folder #}
  <head>
  <style>
    #doclist {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #doclist td, #doclist th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #doclist tr:nth-child(even){background-color: #f2f2f2;}
    #doclist tr:hover {background-color: #ddd;}
    #doclist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #006699;
        color: white;
    }
  </style>
  <body>
    <h1>{{ base_pageheading }}</h1>
    <h2>{{ txt }}</h2>
    <form method="POST" action="/{{ base_doctype }}/" id="form1">
      Search: <input type="text" name="surfaceform" value="{{ surfaceform }}">
      Page start:  <input type="text" name="paging" value="{{ paging }}">
      <button type="submit" form="form1" value="Submit">Submit</button>
    </form>
    <table id="doclist">
      {% block doctable %}{% endblock doctable %}
    </table>
  </body>
</html>

