{% extends 'base.html' %}

{% set base_title = 'Documents' %}
{% set base_pageheading = 'Page heading for Documents' %}
{% set base_doctype = 'documents' %}

{% block doctable %}
    <table id="doclist">
      <tr>
        <th>Doc ID</th><th>Entities</th><th>TAWGS</th>
      <tr>
      {% for doc in jdocs %}
      <tr>
        <td> <a href="http://dev-search.hgdata.info/#/docs?all={{ doc["doc_id"] }}">{{ doc["doc_id"] }}</td>
        <td>
            {% for entity in doc["entities"] %}
                {% if entity["type"] == "WIKI" %}
                    <p><a href="https://en.wikipedia.org/wiki/{{ entity["title"] }}">{{ entity["title"] }} </a></p>
                    <ul>
                    {% for sub_entity in entity["sub_entities"] %}
                        <li>{{ sub_entity["title"] }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ entity["title"] }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for tawg in doc["tawgs"] %}
                <p>{{ tawg["name"] }} - Product #: {{ tawg["id"] }}</p>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
{% endblock doctable %}
