{% extends 'base.html' %}

{% set base_title = 'Entities Tech' %}
{% set base_pageheading = 'Entities Tech' %}
{% set base_doctype = 'entities' %}

{% block doctable %}
    <table id="doclist">
      <tr>
        <th>T</th><th>Surface Form</th></th><th>ID</th><th>Wiki Link</th>
      <tr>
      {% for doc in jdocs %}
      <tr>
        <td> {{ doc["t"] }}</td>
        <td> {{ doc["surface_form"] }} </td>
        <td> {{ doc["id"] }} </td>
        <td> <a href="https://en.wikipedia.org/wiki/{{ doc["t"] }}">{{ doc["t"] }}</a></td>
      </tr>
      {% endfor %}
{% endblock doctable %}
