{% extends 'base.html' %}

{% set base_title = 'EntitiesMed' %}
{% set base_pageheading = 'Entities Medical' %}
{% set base_doctype = 'entitiesmed' %}

{% block doctable %}
    <table id="doclist">
        <tr>
            <th>T</th><th>Surface Form</th></th><th>ID</th><th>Wiki Caterogies</th><th>Wiki Link</th>
        <tr>
        {% for doc in jdocs %}
        <tr>
            <td> {{ doc["t"] }}</td>
            <td> {{ doc["surface_form"] }} </td>
            <td> {{ doc["id"] }} </td>
            <td>
            {% for category in doc["categories"] %}
                <p>{{ category }}</p>
            {% endfor %}
            </td>
            <td> <a href="https://en.wikipedia.org/wiki/{{ doc["t"] }}">{{ doc["t"] }}</a></td>
         </tr>
        {% endfor %}
{% endblock doctable %}
