{% extends 'base.html' %}

{% set base_title = 'Mentions Tech' %}
{% set base_pageheading = 'Mentions Tech' %}
{% set base_doctype = 'mentions' %}

{% block doctable %}
    <table id="doclist">
      <tr>
        <th>T</th><th>Surface Form</th></th><th>ID</th><th>Sentences</th><th>First Sentence</th>
      <tr>
      {% for doc in jdocs %}
      <tr>
        <td> {{ doc["t"] }}</td>
        <td> {{ doc["surface_form"] }} </td>
        <td> {{ doc["id"] }} </td>
        <td> {{ doc["s"]|length}} </td>
        <td> {{ doc["s"][0]["text"][:100] }} </td>
      </tr>
      {% endfor %}
{% endblock doctable %}
